/*style.css */
body { background-color: rgb(220, 229, 240);
}

#_content_frame {	
	border: 0px solid blue;
	background-color: rgb(220, 229, 240);
	height: auto; /*fixed for single page app*/
}

#main_navbar {
	border: 1px solid blue;
	position: absolute;
	top: 0px;
}

.image-container {
	position: relative;
}

.text {
	color: gainsboro;
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
}
	
.image-container .after {
    position: absolute;
    top: 0px;
    left: 0;
    width: 20%;
    height: 90%;
    display: none;
}

.image-container .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.box {
	border: 2px solid blue;
	background-color: rgb(220, 229, 240);
	width: fit-content;
}

#controls {
	border: 2px solid red;
	padding: 5px;
	width: fit-content;
}

#blog_form {
	border: 2px solid blue;
	background-color: rgb(220, 229, 240);
	width: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 2px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 16px;
  text-align: left;
}

#alldata {
	margin-top: 20px;
}

