
<html>


<label>User Name</label>
<input type="text" id="user" name="user"><hr>

<div id=controls>

<form id=blog_form>
<label>Id:</label>
<input type="text" id="id" name="id">
<label>Title:</label>
<input type="text" id="title" name="title">
<label>Content:</label>
<textarea id="content"></textarea>
</form>

<button id=postblog  type="button">New Blog</button> 
<button id=getblogs  type="button">Get Blogs Number</button> 
<button id=getallblogs  type="button">Get All Blogs</button> 
<button id=updateblog  type="button">Edit Blog</button>
<button id=delblog  type="button">Delete Blog</button>

</div>

<script>
//jquery ready
$(document).ready(function() {
	
console.log('blog form ready')

//store user name
$("#user").change(function(){
		_user=$("#user").val();
		//add user to status[]
		_timestamp=get_ts();
		_logged_user={logged_in: _timestamp, user: _user};
		stat.set_status(_logged_user);

		//send event to logger
		var item='start';
		var action='login';
		var value= _logged_user;
     	var obj={"item": item, "action": action, "value": value};      
      //	logger.logg(obj);      
    }); 


    //Get all blogs
    $("#getblogs").click(function(){

		//clear the results box
		$("#alldata").empty();

        /* prepare the read action and do ajax*/
		var sql=bf.get_sql('read');
		var param=[];
		id=parseInt($('#id').val());//get id from user
		param.push(id);//get id from user
		var arr=JSON.stringify(param); //convert to json

		ajx.get_blog(sql, arr);
    }); 
	

	//Get all blogs
	$("#getallblogs").click(function(){

		//clear the results box
		$("#alldata").empty();

		/* prepare the read action and do ajax*/
		var sql=bf.get_sql('readall');
		var param=[];
		var arr=JSON.stringify(param); //convert to json

		ajx.get_all_blogs(sql, arr);
	}); 

    
     //New Blog
	$("#postblog").click(function(){

		/* need to escape the insert values''nnn''*/
		//$('#blog_form').children(':input').attr('disabled', 'disabled');//disable form inputs

		var sql=bf.get_sql('create');
		var param=[];
		content=$( "#content" ).val();
		title=$( "#title" ).val();
		param.push(title, content);
		var arr=JSON.stringify(param); //convert to json
	
		ajx.post_blog(sql, arr);
	}); 


     //Delete Blog by id
	$("#delblog").click(function(){
	
		var sql=bf.get_sql('delete');
		var param=[];
		id=parseInt($('#id').val());//get id from user
		param.push(id);
		var arr=JSON.stringify(param); //convert to json

		ajx.delete_blog(sql, arr);
	}); 


    //Edit Blog by id
	$("#updateblog").click(function(){
		
		//UPDATE `posts` SET post_title`='',`description`='' WHERE `id`=30
		var sql=bf.get_sql('update');
		var param=[];
		//get params from form - sanitise valiadate!!!
		id=parseInt($('#id').val());//get id from user
		title=$('#title').val();
		desc=$('#content').val();		
		param.push(title, desc, id); //make array
		var arr=JSON.stringify(param); //convert to json

		ajx.update_blog(sql, arr);
	});			
	 
});//end ready


//****** logging ****/
function get_ts(){
	var ts = new Date();
	return ts;
}//end function


//window close 
window.onbeforeunload = confirmExit;
function confirmExit(){
	var ending={logged_out: get_ts(), user: _user};
	stat.set_status(ending);
	//ulog.log(stat.get_status());//send _status plain [] to php    
    return false;
}
//****** logging ****/



</script>

</html>